@use 'colors' as *;

.characters {
    padding: 60px 120px;
    background-image: url('../images/tomioka_texture.png');
    background-size: contain;
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    &__title {
        font-size: 20px;
        text-align: center;
        color: $color-text;
        margin-bottom: 40px;

        &__image {
            width: 25%;
            margin: 0 auto;
            display: block;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        justify-items: center;
    }

    &__card {
        position: relative;
        width: 100%;
        max-width: 300px;
        height: 450px;
        border-radius: 16px;
        overflow: hidden;
        background: linear-gradient(to bottom, rgba($color-black, 0.9), rgba($color-black, 0.9));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;
        margin-bottom: 60px;

        &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: brightness(0.7);
    }

    &__info {
        position: relative;
        z-index: 2;
        padding: 20px;
        text-align: center;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        color: $color-text;
    }
}

/* Responsividade */
@media (max-width: 1024px) {
    .characters {
        padding: 40px 60px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;

        &__grid {
            gap: 15px;
        }

        &__card {
            max-width: 250px;
            height: 400px;
        }
    }
}

@media (max-width: 768px) {
    .characters {
        padding: 20px 40px;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;

        &__title {
            font-size: 18px;
        }

        &__grid {
            gap: 10px;
        }

        &__card {
            max-width: 200px;
            height: 350px;
        }
    }
}

@media (max-width: 480px) {
    .characters {
        padding: 20px;
        border-radius: 0;

        &__title {
            
            &__image {
                width: 240px;
            }
        }

        &__grid {
            gap: 10px;
        }

        &__card {
            max-width: 250px;
            height: 400px;
        }
    }
}
