@use 'colors';
@use 'hero';
@use 'characters';
@use 'seasons';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 0;
    font-family: "Inter", sans-serif;
    color: colors.$color-text;
    background-color: colors.$color-black;
    padding-top: 0;

    &.nav-fixed {
        padding-top: 44px; // Ajuste valor p/ altura
    }
}