@use 'colors';
@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: colors.$color-text;
    background-color: colors.$color-primary;
}

